<ion-header>
  <ion-toolbar>
    <ion-title>
      Empty States
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
          <ion-card-subtitle>Device 101</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p>Performance: Poor</p>
          <p>Battery Life: 20%</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-card-header>
          <ion-card-subtitle>Device 213</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p>Performance: Excellent</p>
          <p>Battery Life: 30%</p>
      </ion-card-content>
    </ion-card>


    <ion-card class="welcome-card">
      <ion-card-header>
          <ion-card-subtitle>Device 340</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p>Performance: Good</p>
          <p>Battery Life: 50%</p>
      </ion-card-content>
    </ion-card>
</ion-content>
