<ion-header>
  <ion-toolbar  class="custom-toolbar">
    <ion-title>
      Empty States 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-contains">
      <ion-icon name="device" style="font-size: 70px;"></ion-icon>
      <!-- <i class="devices"></i> -->
      <p>No Devices</p>
      <ion-button color="primary">
        <!-- <i class="add_circle_outline"></i> -->
        <ion-icon name="add-circle-outline"></ion-icon> &nbsp;Add Device
      </ion-button>
  </div>
</ion-content>
